.root {
  max-width: 450px;
  margin: 0 auto;
  position: relative;
}
.input {
  width: 100%;
  padding: 10px 35px 10px 5px;
  font-size: 16px;
}
.cross {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 35px;
  height: 43px;
  transform: translate(0, -50%);
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    width: 1px;
    height: 25px;
    position: absolute;
    background-color: #000;
  }
  &:before {
    top: 50%;
    left: 15px;
    transform: translate(0, -50%) rotate(45deg);
  }
  &:after {
    top: 50%;
    right: 17.9px;
    transform: translate(0, -50%) rotate(-45deg);
  }
}
