@import "../variables";

.categories {
  position: relative;
  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
      @media (max-width: 935px) {
        padding: 7px 13px;
        border-readius: 25px;
        margin-right: 8px;
      }
    }
    @media (max-width: 750px) {
      display: none;
      position: absolute;
      z-index: 2;
      background-color: #fff;
      padding: 5px;
      border-radius: 5px;
      top: 32px;
      left: 100px;
      &.active {
        display: block;
      }
      li {
        margin-bottom: 10px;
        border-radius: 0px;
      }
    }
  }
}
