@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    @media (max-width: 614px) {
      justify-content: center;
    }
  }

  &__logo {
    display: flex;
    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
      max-width: 250px;
    }
    @media (max-width: 614px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        margin: 0 0 10px 0;
      }
      p {
        margin: 0 15px 0 0;
        text-align: center;
      }
      h1 {
        text-align: center;
      }
    }
  }
}
