@import "../variables";

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;
    @media (max-width: 1285px) {
      margin: 0 0 10px 0;
    }
    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }
  &__arrow {
    cursor: pointer;
    display: flex;
    width: 20px;
    height: 25px;
    margin-right: 25px;
    overflow: hidden;
    transition: 300ms transform ease 0s;
    position: relative;
    @media (max-width: 750px) {
      margin-right: 10px;
    }
    &:before {
      content: "";
      position: absolute;
      height: 25px;
      width: 0.5px;
      background-color: #000;
      top: 0;
      left: 50%;
      transform: translate(-54%, 0);
    }
    &:after {
      content: "";
      position: absolute;
      height: 15px;
      width: 1px;
      background-color: #000;
      top: -4px;
      left: 6px;
      transform: rotate(45deg);
    }
    &.active {
      transform: rotate(180deg);
    }
    span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-bottom: 0;
      &:before {
        content: "";
        position: absolute;
        height: 15px;
        width: 1px;
        background-color: #000;
        top: -3px;
        right: 5px;
        transform: rotate(-45deg);
      }
    }
    svg {
    }
  }
  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;
    @media (max-width: 750px) {
      top: 20px;
      left: 150px;
    }
    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
