.block {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 55px 0;
}

.title {
  font-size: 50px;
  display: block;
}

.subtitle {
  margin: 0 0 60px 0;
  font-size: 25px;
}
.btn {
  background-color: #ff5f4dff;
  color: #fff;
  padding: 5px 20px;
  border: none;
  font-size: 26px;
  border-radius: 25px;
}
